In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('tickets.csv')

In [3]:
df

,ticket_type,creation_date,view_date,action_date,customer_satisfaction,customer_problem_resolved,user_actioned,user_team
0,live_chat,2023-06-02 08:35:00.000000000,2023-06-02 08:35:00.000000000,2023-06-02 08:52:00.000000000,2,False,8ac38c,green
1,email,2023-06-02 08:14:00.000000000,2023-06-02 08:56:00.000000000,2023-06-02 09:25:00.000000000,3,True,8ac38c,green
2,email,2023-06-02 06:03:00.000000000,2023-06-02 09:29:00.000000000,2023-06-02 09:56:00.000000000,5,True,8ac38c,green
3,web_form,2023-06-02 06:42:00.000000000,2023-06-02 09:58:00.000000000,2023-06-02 10:20:00.000000000,2,False,8ac38c,green
4,email,2023-06-02 09:24:00.000000000,2023-06-02 10:24:00.000000000,2023-06-02 10:46:00.000000000,5,True,8ac38c,green
...,...,...,...,...,...,...,...,...
25557,web_form,2023-08-26 17:34:00.000000000,2023-08-30 13:40:00.850523820,2023-08-30 14:15:00.850523820,4,False,54f00e,orange
25558,live_chat,2023-08-30 14:22:00.850523820,2023-08-30 14:22:00.850523820,2023-08-30 14:47:00.850523820,1,False,54f00e,orange
25559,web_form,2023-08-29 03:27:00.000000000,2023-08-30 14:50:00.850523820,2023-08-30 15:34:00.850523820,1,False,54f00e,orange
25560,email,2023-08-28 15:44:00.000000000,2023-08-30 15:36:00.850523820,2023-08-30 16:11:00.850523820,3,True,54f00e,orange
25561,web_form,2023-08-27 16:59:00.000000000,2023-08-30 16:13:00.850523820,2023-08-30 16:53:00.850523820,1,True,54f00e,orange

In [4]:
df['user_team'].unique()

array(['green', 'red', 'blue', 'orange'], dtype=object)

In [ ]:
# tickets created - most time / day of the week

In [ ]:
# max ticket type

In [5]:
df['ticket_type'].value_counts()

ticket_type
web_form     11199
email        11107
live_chat     3256
Name: count, dtype: int64

Looking at it from the management team's POV - 
1. how many people need to be working at a particular time of the day - to organise shift hours
for example - more people need to be scheduled at 8am in the morning as the most number of tickets are created then 

2. how long does it take to resolve a ticket? - look at hours and then if the problem was resolveed

A line chart with first response time and resolution time

In [6]:
df['creation_date']

0        2023-06-02 08:35:00.000000000
1        2023-06-02 08:14:00.000000000
2        2023-06-02 06:03:00.000000000
3        2023-06-02 06:42:00.000000000
4        2023-06-02 09:24:00.000000000
                     ...
25557    2023-08-26 17:34:00.000000000
25558    2023-08-30 14:22:00.850523820
25559    2023-08-29 03:27:00.000000000
25560    2023-08-28 15:44:00.000000000
25561    2023-08-27 16:59:00.000000000
Name: creation_date, Length: 25562, dtype: object

In [7]:
import pandas as pd

# Assuming df is your DataFrame and 'creation_date' is the column you want to convert
df['creation_date'] = pd.to_datetime(df['creation_date'])

# Extracting components
df['month'] = df['creation_date'].dt.month
df['day'] = df['creation_date'].dt.day
df['year'] = df['creation_date'].dt.year
df['time'] = df['creation_date'].dt.time

# Optionally, you can also add hour, minute, and second columns if your 'creation_date' includes time
df['hour'] = df['creation_date'].dt.hour
df['minute'] = df['creation_date'].dt.minute
df['second'] = df['creation_date'].dt.second

# Display the modified DataFrame

In [8]:
df['hour'].value_counts()

hour
11    2406
10    2318
9     2282
13    2180
12    2052
14    1934
15    1787
8     1717
16    1625
7     1133
17    1030
6      775
18     746
19     591
5      544
20     438
4      362
21     343
22     270
23     232
3      218
2      208
1      201
0      170
Name: count, dtype: int64

In [10]:
df['Create Day'] = df['creation_date'].dt.day_name()
df['Create Day'].value_counts()

Create Day
Sunday       3744
Tuesday      3740
Friday       3697
Monday       3647
Saturday     3631
Wednesday    3587
Thursday     3516
Name: count, dtype: int64

In [11]:
df['ticket_type'].value_counts()

ticket_type
web_form     11199
email        11107
live_chat     3256
Name: count, dtype: int64

In [12]:
df['customer_satisfaction']

0        2
1        3
2        5
3        2
4        5
        ..
25557    4
25558    1
25559    1
25560    3
25561    1
Name: customer_satisfaction, Length: 25562, dtype: int64

In [13]:
df['ticket_type']

0        live_chat
1            email
2            email
3         web_form
4            email
           ...
25557     web_form
25558    live_chat
25559     web_form
25560        email
25561     web_form
Name: ticket_type, Length: 25562, dtype: object

In [14]:
df

,ticket_type,creation_date,view_date,action_date,customer_satisfaction,customer_problem_resolved,user_actioned,user_team,month,day,year,time,hour,minute,second,Create Day
0,live_chat,2023-06-02 08:35:00.000000000,2023-06-02 08:35:00.000000000,2023-06-02 08:52:00.000000000,2,False,8ac38c,green,6,2,2023,08:35:00,8,35,0,Friday
1,email,2023-06-02 08:14:00.000000000,2023-06-02 08:56:00.000000000,2023-06-02 09:25:00.000000000,3,True,8ac38c,green,6,2,2023,08:14:00,8,14,0,Friday
2,email,2023-06-02 06:03:00.000000000,2023-06-02 09:29:00.000000000,2023-06-02 09:56:00.000000000,5,True,8ac38c,green,6,2,2023,06:03:00,6,3,0,Friday
3,web_form,2023-06-02 06:42:00.000000000,2023-06-02 09:58:00.000000000,2023-06-02 10:20:00.000000000,2,False,8ac38c,green,6,2,2023,06:42:00,6,42,0,Friday
4,email,2023-06-02 09:24:00.000000000,2023-06-02 10:24:00.000000000,2023-06-02 10:46:00.000000000,5,True,8ac38c,green,6,2,2023,09:24:00,9,24,0,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25557,web_form,2023-08-26 17:34:00.000000000,2023-08-30 13:40:00.850523820,2023-08-30 14:15:00.850523820,4,False,54f00e,orange,8,26,2023,17:34:00,17,34,0,Saturday
25558,live_chat,2023-08-30 14:22:00.850523820,2023-08-30 14:22:00.850523820,2023-08-30 14:47:00.850523820,1,False,54f00e,orange,8,30,2023,14:22:00.850523,14,22,0,Wednesday
25559,web_form,2023-08-29 03:27:00.000000000,2023-08-30 14:50:00.850523820,2023-08-30 15:34:00.850523820,1,False,54f00e,orange,8,29,2023,03:27:00,3,27,0,Tuesday
25560,email,2023-08-28 15:44:00.000000000,2023-08-30 15:36:00.850523820,2023-08-30 16:11:00.850523820,3,True,54f00e,orange,8,28,2023,15:44:00,15,44,0,Monday
25561,web_form,2023-08-27 16:59:00.000000000,2023-08-30 16:13:00.850523820,2023-08-30 16:53:00.850523820,1,True,54f00e,orange,8,27,2023,16:59:00,16,59,0,Sunday

In [15]:
avg_response_time= df[['ticket_type','hour']]

In [16]:
avg_response_time.groupby('ticket_type').mean('hour')

                  hour
ticket_type
email        11.839020
live_chat    12.113022
web_form     11.898830

In [17]:
df['action_date'] = pd.to_datetime(df['action_date'])

df['Close Day'] = df['action_date'].dt.day_name()

In [18]:
df

,ticket_type,creation_date,view_date,action_date,customer_satisfaction,customer_problem_resolved,user_actioned,user_team,month,day,year,time,hour,minute,second,Create Day,Close Day
0,live_chat,2023-06-02 08:35:00.000000000,2023-06-02 08:35:00.000000000,2023-06-02 08:52:00.000000000,2,False,8ac38c,green,6,2,2023,08:35:00,8,35,0,Friday,Friday
1,email,2023-06-02 08:14:00.000000000,2023-06-02 08:56:00.000000000,2023-06-02 09:25:00.000000000,3,True,8ac38c,green,6,2,2023,08:14:00,8,14,0,Friday,Friday
2,email,2023-06-02 06:03:00.000000000,2023-06-02 09:29:00.000000000,2023-06-02 09:56:00.000000000,5,True,8ac38c,green,6,2,2023,06:03:00,6,3,0,Friday,Friday
3,web_form,2023-06-02 06:42:00.000000000,2023-06-02 09:58:00.000000000,2023-06-02 10:20:00.000000000,2,False,8ac38c,green,6,2,2023,06:42:00,6,42,0,Friday,Friday
4,email,2023-06-02 09:24:00.000000000,2023-06-02 10:24:00.000000000,2023-06-02 10:46:00.000000000,5,True,8ac38c,green,6,2,2023,09:24:00,9,24,0,Friday,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25557,web_form,2023-08-26 17:34:00.000000000,2023-08-30 13:40:00.850523820,2023-08-30 14:15:00.850523820,4,False,54f00e,orange,8,26,2023,17:34:00,17,34,0,Saturday,Wednesday
25558,live_chat,2023-08-30 14:22:00.850523820,2023-08-30 14:22:00.850523820,2023-08-30 14:47:00.850523820,1,False,54f00e,orange,8,30,2023,14:22:00.850523,14,22,0,Wednesday,Wednesday
25559,web_form,2023-08-29 03:27:00.000000000,2023-08-30 14:50:00.850523820,2023-08-30 15:34:00.850523820,1,False,54f00e,orange,8,29,2023,03:27:00,3,27,0,Tuesday,Wednesday
25560,email,2023-08-28 15:44:00.000000000,2023-08-30 15:36:00.850523820,2023-08-30 16:11:00.850523820,3,True,54f00e,orange,8,28,2023,15:44:00,15,44,0,Monday,Wednesday
25561,web_form,2023-08-27 16:59:00.000000000,2023-08-30 16:13:00.850523820,2023-08-30 16:53:00.850523820,1,True,54f00e,orange,8,27,2023,16:59:00,16,59,0,Sunday,Wednesday

In [19]:
df['Create Day'].value_counts()

Create Day
Sunday       3744
Tuesday      3740
Friday       3697
Monday       3647
Saturday     3631
Wednesday    3587
Thursday     3516
Name: count, dtype: int64

In [20]:
df['Close Day'].value_counts()

Close Day
Tuesday      3728
Wednesday    3703
Monday       3696
Sunday       3693
Saturday     3675
Friday       3664
Thursday     3403
Name: count, dtype: int64

In [21]:
import pandas as pd

# Assuming df is your DataFrame and the columns are 'creation_date', 'view_date', and 'action_date'
df['creation_date'] = pd.to_datetime(df['creation_date'])
df['view_date'] = pd.to_datetime(df['view_date'])
df['action_date'] = pd.to_datetime(df['action_date'])

# Calculate time differences
df['creation_to_view_duration'] = df['view_date'] - df['creation_date']
df['view_to_action_duration'] = df['action_date'] - df['view_date']
df['create_to_finish'] = df['action_date'] - df['creation_date']

# Display the modified DataFrame
print(df)

      ticket_type                 creation_date                     view_date  \
0       live_chat 2023-06-02 08:35:00.000000000 2023-06-02 08:35:00.000000000
1           email 2023-06-02 08:14:00.000000000 2023-06-02 08:56:00.000000000
2           email 2023-06-02 06:03:00.000000000 2023-06-02 09:29:00.000000000
3        web_form 2023-06-02 06:42:00.000000000 2023-06-02 09:58:00.000000000
4           email 2023-06-02 09:24:00.000000000 2023-06-02 10:24:00.000000000
...           ...                           ...                           ...
25557    web_form 2023-08-26 17:34:00.000000000 2023-08-30 13:40:00.850523820
25558   live_chat 2023-08-30 14:22:00.850523820 2023-08-30 14:22:00.850523820
25559    web_form 2023-08-29 03:27:00.000000000 2023-08-30 14:50:00.850523820
25560       email 2023-08-28 15:44:00.000000000 2023-08-30 15:36:00.850523820
25561    web_form 2023-08-27 16:59:00.000000000 2023-08-30 16:13:00.850523820

                        action_date  customer_satisfaction  \
0     2023-06-02 08:52:00.000000000                      2
1     2023-06-02 09:25:00.000000000                      3
2     2023-06-02 09:56:00.000000000                      5
3     2023-06-02 10:20:00.000000000                      2
4     2023-06-02 10:46:00.000000000                      5
...                             ...                    ...
25557 2023-08-30 14:15:00.850523820                      4
25558 2023-08-30 14:47:00.850523820                      1
25559 2023-08-30 15:34:00.850523820                      1
25560 2023-08-30 16:11:00.850523820                      3
25561 2023-08-30 16:53:00.850523820                      1

       customer_problem_resolved user_actioned user_team  month  day  year  \
0                          False        8ac38c     green      6    2  2023
1                           True        8ac38c     green      6    2  2023
2                           True        8ac38c     green      6    2  2023
3                          False        8ac38c     green      6    2  2023
4                           True        8ac38c     green      6    2  2023
...                          ...           ...       ...    ...  ...   ...
25557                      False        54f00e    orange      8   26  2023
25558                      False        54f00e    orange      8   30  2023
25559                      False        54f00e    orange      8   29  2023
25560                       True        54f00e    orange      8   28  2023
25561                       True        54f00e    orange      8   27  2023

                  time  hour  minute  second Create Day  Close Day  \
0             08:35:00     8      35       0     Friday     Friday
1             08:14:00     8      14       0     Friday     Friday
2             06:03:00     6       3       0     Friday     Friday
3             06:42:00     6      42       0     Friday     Friday
4             09:24:00     9      24       0     Friday     Friday
...                ...   ...     ...     ...        ...        ...
25557         17:34:00    17      34       0   Saturday  Wednesday
25558  14:22:00.850523    14      22       0  Wednesday  Wednesday
25559         03:27:00     3      27       0    Tuesday  Wednesday
25560         15:44:00    15      44       0     Monday  Wednesday
25561         16:59:00    16      59       0     Sunday  Wednesday

      creation_to_view_duration view_to_action_duration  \
0               0 days 00:00:00         0 days 00:17:00
1               0 days 00:42:00         0 days 00:29:00
2               0 days 03:26:00         0 days 00:27:00
3               0 days 03:16:00         0 days 00:22:00
4               0 days 01:00:00         0 days 00:22:00
...                         ...                     ...
25557 3 days 20:06:00.850523820         0 days 00:35:00
25558           0 days 00:00:00         0 days 00:25:00
25559 1 days 11:23:00.850523820         0 days 00:44:00
25560 1 days 23:52:00.850523820         0 days 00:35:00
25561 2 days 23:14:00.850523820         0 days 00:40:00

               create_to_finish
0               0 days 00:17:00
1               0 days 01:11:00
2               0 days 03:53:00
3               0 days 03:38:00
4               0 days 01:22:00
...                         ...
25557 3 days 20:41:00.850523820
25558           0 days 00:25:00
25559 1 days 12:07:00.850523820
25560 2 days 00:27:00.850523820
25561 2 days 23:54:00.850523820

[25562 rows x 20 columns]

In [22]:
df1 = df[df['customer_problem_resolved']==True]
df1[['creation_to_view_duration','view_to_action_duration','customer_satisfaction','customer_problem_resolved']]

,creation_to_view_duration,view_to_action_duration,customer_satisfaction,customer_problem_resolved
1,0 days 00:42:00,0 days 00:29:00,3,True
2,0 days 03:26:00,0 days 00:27:00,5,True
4,0 days 01:00:00,0 days 00:22:00,5,True
6,0 days 00:35:00,0 days 00:26:00,5,True
8,0 days 01:40:47.130122249,0 days 00:31:00,5,True
...,...,...,...,...
25537,1 days 04:24:11.937352888,0 days 00:38:00,3,True
25538,0 days 00:00:00,0 days 00:22:00,1,True
25550,2 days 07:36:18.152970180,0 days 00:39:00,1,True
25560,1 days 23:52:00.850523820,0 days 00:35:00,3,True
25561,2 days 23:14:00.850523820,0 days 00:40:00,1,True

In [51]:
df

,ticket_type,creation_date,view_date,action_date,customer_satisfaction,customer_problem_resolved,user_actioned,user_team,month,day,year,time,hour,minute,second,day_of_week,Create Day,Close Day,creation_to_view_duration,view_to_action_duration
0,live_chat,2023-06-02 08:35:00.000000000,2023-06-02 08:35:00.000000000,2023-06-02 08:52:00.000000000,2,False,8ac38c,green,6,2,2023,08:35:00,8,35,0,Friday,Friday,Friday,0 days 00:00:00,0 days 00:17:00
1,email,2023-06-02 08:14:00.000000000,2023-06-02 08:56:00.000000000,2023-06-02 09:25:00.000000000,3,True,8ac38c,green,6,2,2023,08:14:00,8,14,0,Friday,Friday,Friday,0 days 00:42:00,0 days 00:29:00
2,email,2023-06-02 06:03:00.000000000,2023-06-02 09:29:00.000000000,2023-06-02 09:56:00.000000000,5,True,8ac38c,green,6,2,2023,06:03:00,6,3,0,Friday,Friday,Friday,0 days 03:26:00,0 days 00:27:00
3,web_form,2023-06-02 06:42:00.000000000,2023-06-02 09:58:00.000000000,2023-06-02 10:20:00.000000000,2,False,8ac38c,green,6,2,2023,06:42:00,6,42,0,Friday,Friday,Friday,0 days 03:16:00,0 days 00:22:00
4,email,2023-06-02 09:24:00.000000000,2023-06-02 10:24:00.000000000,2023-06-02 10:46:00.000000000,5,True,8ac38c,green,6,2,2023,09:24:00,9,24,0,Friday,Friday,Friday,0 days 01:00:00,0 days 00:22:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25557,web_form,2023-08-26 17:34:00.000000000,2023-08-30 13:40:00.850523820,2023-08-30 14:15:00.850523820,4,False,54f00e,orange,8,26,2023,17:34:00,17,34,0,Saturday,Saturday,Wednesday,3 days 20:06:00.850523820,0 days 00:35:00
25558,live_chat,2023-08-30 14:22:00.850523820,2023-08-30 14:22:00.850523820,2023-08-30 14:47:00.850523820,1,False,54f00e,orange,8,30,2023,14:22:00.850523,14,22,0,Wednesday,Wednesday,Wednesday,0 days 00:00:00,0 days 00:25:00
25559,web_form,2023-08-29 03:27:00.000000000,2023-08-30 14:50:00.850523820,2023-08-30 15:34:00.850523820,1,False,54f00e,orange,8,29,2023,03:27:00,3,27,0,Tuesday,Tuesday,Wednesday,1 days 11:23:00.850523820,0 days 00:44:00
25560,email,2023-08-28 15:44:00.000000000,2023-08-30 15:36:00.850523820,2023-08-30 16:11:00.850523820,3,True,54f00e,orange,8,28,2023,15:44:00,15,44,0,Monday,Monday,Wednesday,1 days 23:52:00.850523820,0 days 00:35:00
25561,web_form,2023-08-27 16:59:00.000000000,2023-08-30 16:13:00.850523820,2023-08-30 16:53:00.850523820,1,True,54f00e,orange,8,27,2023,16:59:00,16,59,0,Sunday,Sunday,Wednesday,2 days 23:14:00.850523820,0 days 00:40:00

In [23]:

df['creation_to_action_duration'] = (df['action_date'] - df['creation_date']).dt.total_seconds() / 3600

df[['ticket_type',"create_to_finish",'creation_date','action_date','creation_to_action_duration']]

,ticket_type,create_to_finish,creation_date,action_date,creation_to_action_duration
0,live_chat,0 days 00:17:00,2023-06-02 08:35:00.000000000,2023-06-02 08:52:00.000000000,0.283333
1,email,0 days 01:11:00,2023-06-02 08:14:00.000000000,2023-06-02 09:25:00.000000000,1.183333
2,email,0 days 03:53:00,2023-06-02 06:03:00.000000000,2023-06-02 09:56:00.000000000,3.883333
3,web_form,0 days 03:38:00,2023-06-02 06:42:00.000000000,2023-06-02 10:20:00.000000000,3.633333
4,email,0 days 01:22:00,2023-06-02 09:24:00.000000000,2023-06-02 10:46:00.000000000,1.366667
...,...,...,...,...,...
25557,web_form,3 days 20:41:00.850523820,2023-08-26 17:34:00.000000000,2023-08-30 14:15:00.850523820,92.683570
25558,live_chat,0 days 00:25:00,2023-08-30 14:22:00.850523820,2023-08-30 14:47:00.850523820,0.416667
25559,web_form,1 days 12:07:00.850523820,2023-08-29 03:27:00.000000000,2023-08-30 15:34:00.850523820,36.116903
25560,email,2 days 00:27:00.850523820,2023-08-28 15:44:00.000000000,2023-08-30 16:11:00.850523820,48.450236
25561,web_form,2 days 23:54:00.850523820,2023-08-27 16:59:00.000000000,2023-08-30 16:53:00.850523820,71.900236

In [24]:
df[['ticket_type','creation_to_action_duration']].groupby('ticket_type').mean('creation_to_action_duration')

             creation_to_action_duration
ticket_type
email                          34.428499
live_chat                       0.261824
web_form                       34.045832

In [25]:
df_web = df[df['ticket_type']=='web_form']
df_web['creation_to_action_duration'].mean()

34.0458316502431

In [26]:
df_live = df[df['ticket_type']=='live_chat']
df_live['creation_to_action_duration'].mean()

0.26182432432432434

In [27]:
df_live = df[df['ticket_type']=='live_chat']
df_live['customer_satisfaction'].mean()

3.4431818181818183

In [28]:
df[['ticket_type','customer_satisfaction']].groupby('ticket_type').mean('customer_satisfaction')

             customer_satisfaction
ticket_type
email                     2.664446
live_chat                 3.443182
web_form                  2.698902

Calculating first reponse time

In [29]:
df['customer_satisfaction'].mean()

2.7787340583678897

In [30]:
df[['user_team','customer_satisfaction']].groupby('user_team').mean('customer_satisfaction')

           customer_satisfaction
user_team
blue                    2.263579
green                   2.978596
orange                  1.525281
red                     3.821712

In [31]:
live=df[df['ticket_type']=='live_chat']

In [32]:
live

,ticket_type,creation_date,view_date,action_date,customer_satisfaction,customer_problem_resolved,user_actioned,user_team,month,day,...,time,hour,minute,second,Create Day,Close Day,creation_to_view_duration,view_to_action_duration,create_to_finish,creation_to_action_duration
0,live_chat,2023-06-02 08:35:00.000000000,2023-06-02 08:35:00.000000000,2023-06-02 08:52:00.000000000,2,False,8ac38c,green,6,2,...,08:35:00,8,35,0,Friday,Friday,0 days 00:00:00,0 days 00:17:00,0 days 00:17:00,0.283333
11,live_chat,2023-06-02 14:52:47.130122249,2023-06-02 14:58:47.130122249,2023-06-02 15:18:47.130122249,5,True,8ac38c,green,6,2,...,14:52:47.130122,14,52,47,Friday,Friday,0 days 00:06:00,0 days 00:20:00,0 days 00:26:00,0.433333
35,live_chat,2023-06-04 11:48:00.000000000,2023-06-04 11:48:00.000000000,2023-06-04 11:59:00.000000000,5,False,8ac38c,green,6,4,...,11:48:00,11,48,0,Sunday,Sunday,0 days 00:00:00,0 days 00:11:00,0 days 00:11:00,0.183333
41,live_chat,2023-06-04 15:44:17.091326957,2023-06-04 15:44:17.091326957,2023-06-04 15:54:17.091326957,5,True,8ac38c,green,6,4,...,15:44:17.091326,15,44,17,Sunday,Sunday,0 days 00:00:00,0 days 00:10:00,0 days 00:10:00,0.166667
43,live_chat,2023-06-04 16:35:17.091326957,2023-06-04 16:35:17.091326957,2023-06-04 16:55:17.091326957,5,True,8ac38c,green,6,4,...,16:35:17.091326,16,35,17,Sunday,Sunday,0 days 00:00:00,0 days 00:20:00,0 days 00:20:00,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25510,live_chat,2023-08-26 10:31:00.000000000,2023-08-26 10:31:00.000000000,2023-08-26 10:56:00.000000000,3,True,54f00e,orange,8,26,...,10:31:00,10,31,0,Saturday,Saturday,0 days 00:00:00,0 days 00:25:00,0 days 00:25:00,0.416667
25538,live_chat,2023-08-28 16:19:11.937352888,2023-08-28 16:19:11.937352888,2023-08-28 16:41:11.937352888,1,True,54f00e,orange,8,28,...,16:19:11.937352,16,19,11,Monday,Monday,0 days 00:00:00,0 days 00:22:00,0 days 00:22:00,0.366667
25544,live_chat,2023-08-29 11:35:00.000000000,2023-08-29 11:35:00.000000000,2023-08-29 11:55:00.000000000,1,False,54f00e,orange,8,29,...,11:35:00,11,35,0,Tuesday,Tuesday,0 days 00:00:00,0 days 00:20:00,0 days 00:20:00,0.333333
25549,live_chat,2023-08-29 15:24:18.152970180,2023-08-29 15:24:18.152970180,2023-08-29 16:05:18.152970180,2,False,54f00e,orange,8,29,...,15:24:18.152970,15,24,18,Tuesday,Tuesday,0 days 00:00:00,0 days 00:41:00,0 days 00:41:00,0.683333
25558,live_chat,2023-08-30 14:22:00.850523820,2023-08-30 14:22:00.850523820,2023-08-30 14:47:00.850523820,1,False,54f00e,orange,8,30,...,14:22:00.850523,14,22,0,Wednesday,Wednesday,0 days 00:00:00,0 days 00:25:00,0 days 00:25:00,0.416667

In [55]:
df_employee = df.groupby(['user_team', 'user_actioned', 'customer_problem_resolved']).count().reset_index()
df_employee

,user_team,user_actioned,customer_problem_resolved,ticket_type,creation_date,view_date,action_date,customer_satisfaction,month,day,...,time,hour,minute,second,Create Day,Close Day,creation_to_view_duration,view_to_action_duration,create_to_finish,creation_to_action_duration
0,blue,2c6d6d,False,820,820,820,820,820,820,820,...,820,820,820,820,820,820,820,820,820,820
1,blue,2c6d6d,True,385,385,385,385,385,385,385,...,385,385,385,385,385,385,385,385,385,385
2,blue,6ac7a0,False,780,780,780,780,780,780,780,...,780,780,780,780,780,780,780,780,780,780
3,blue,6ac7a0,True,339,339,339,339,339,339,339,...,339,339,339,339,339,339,339,339,339,339
4,blue,6eb310,False,371,371,371,371,371,371,371,...,371,371,371,371,371,371,371,371,371,371
5,blue,6eb310,True,731,731,731,731,731,731,731,...,731,731,731,731,731,731,731,731,731,731
6,blue,714387,False,657,657,657,657,657,657,657,...,657,657,657,657,657,657,657,657,657,657
7,blue,714387,True,447,447,447,447,447,447,447,...,447,447,447,447,447,447,447,447,447,447
8,blue,7d712c,False,442,442,442,442,442,442,442,...,442,442,442,442,442,442,442,442,442,442
9,blue,7d712c,True,628,628,628,628,628,628,628,...,628,628,628,628,628,628,628,628,628,628
10,blue,93da6c,False,762,762,762,762,762,762,762,...,762,762,762,762,762,762,762,762,762,762
11,blue,93da6c,True,395,395,395,395,395,395,395,...,395,395,395,395,395,395,395,395,395,395
12,green,16a2fe,False,397,397,397,397,397,397,397,...,397,397,397,397,397,397,397,397,397,397
13,green,16a2fe,True,775,775,775,775,775,775,775,...,775,775,775,775,775,775,775,775,775,775
14,green,53ee97,False,522,522,522,522,522,522,522,...,522,522,522,522,522,522,522,522,522,522
15,green,53ee97,True,698,698,698,698,698,698,698,...,698,698,698,698,698,698,698,698,698,698
16,green,8ac38c,False,380,380,380,380,380,380,380,...,380,380,380,380,380,380,380,380,380,380
17,green,8ac38c,True,910,910,910,910,910,910,910,...,910,910,910,910,910,910,910,910,910,910
18,green,907d7a,False,772,772,772,772,772,772,772,...,772,772,772,772,772,772,772,772,772,772
19,green,907d7a,True,405,405,405,405,405,405,405,...,405,405,405,405,405,405,405,405,405,405
20,orange,54f00e,False,775,775,775,775,775,775,775,...,775,775,775,775,775,775,775,775,775,775
21,orange,54f00e,True,262,262,262,262,262,262,262,...,262,262,262,262,262,262,262,262,262,262
22,orange,5ae925,False,753,753,753,753,753,753,753,...,753,753,753,753,753,753,753,753,753,753
23,orange,5ae925,True,330,330,330,330,330,330,330,...,330,330,330,330,330,330,330,330,330,330
24,orange,5f6b1,False,760,760,760,760,760,760,760,...,760,760,760,760,760,760,760,760,760,760
25,orange,5f6b1,True,299,299,299,299,299,299,299,...,299,299,299,299,299,299,299,299,299,299
26,orange,6f8024,False,751,751,751,751,751,751,751,...,751,751,751,751,751,751,751,751,751,751
27,orange,6f8024,True,269,269,269,269,269,269,269,...,269,269,269,269,269,269,269,269,269,269
28,orange,82ec89,False,776,776,776,776,776,776,776,...,776,776,776,776,776,776,776,776,776,776
29,orange,82ec89,True,266,266,266,266,266,266,266,...,266,266,266,266,266,266,266,266,266,266
30,red,24b77f,False,397,397,397,397,397,397,397,...,397,397,397,397,397,397,397,397,397,397
31,red,24b77f,True,1396,1396,1396,1396,1396,1396,1396,...,1396,1396,1396,1396,1396,1396,1396,1396,1396,1396
32,red,2a740,False,531,531,531,531,531,531,531,...,531,531,531,531,531,531,531,531,531,531
33,red,2a740,True,1198,1198,1198,1198,1198,1198,1198,...,1198,1198,1198,1198,1198,1198,1198,1198,1198,1198
34,red,4b67c7,False,492,492,492,492,492,492,492,...,492,492,492,492,492,492,492,492,492,492
35,red,4b67c7,True,1295,1295,1295,1295,1295,1295,1295,...,1295,1295,1295,1295,1295,1295,1295,1295,1295,1295
36,red,52c990,False,400,400,400,400,400,400,400,...,400,400,400,400,400,400,400,400,400,400
37,red,52c990,True,1386,1386,1386,1386,1386,1386,1386,...,1386,1386,1386,1386,1386,1386,1386,1386,1386,1386
38,red,7be120,False,461,461,461,461,461,461,461,...,461,461,461,461,461,461,461,461,461,461
39,red,7be120,True,1149,1149,1149,1149,1149,1149,1149,...,1149,1149,1149,1149,1149,1149,1149,1149,1149,1149

In [56]:
solved_to_total_r = []
for i in range(0, len(df_employee), 2):
    s_t_r = df_employee.iloc[i+1, 3] / (df_employee.iloc[i+1, 3] + df_employee.iloc[i, 3]) * 100
    solved_to_total_r.append(s_t_r)

solved_to_total_r

df_employee_status = df.groupby(['user_team', 'user_actioned']).count()
df_employee_status = df_employee_status.reset_index()
df_employee_status['Solved to total percent'] = solved_to_total_r
df_employee_status

,user_team,user_actioned,ticket_type,creation_date,view_date,action_date,customer_satisfaction,customer_problem_resolved,month,day,...,hour,minute,second,Create Day,Close Day,creation_to_view_duration,view_to_action_duration,create_to_finish,creation_to_action_duration,Solved to total percent
0,blue,2c6d6d,1205,1205,1205,1205,1205,1205,1205,1205,...,1205,1205,1205,1205,1205,1205,1205,1205,1205,31.950207
1,blue,6ac7a0,1119,1119,1119,1119,1119,1119,1119,1119,...,1119,1119,1119,1119,1119,1119,1119,1119,1119,30.294906
2,blue,6eb310,1102,1102,1102,1102,1102,1102,1102,1102,...,1102,1102,1102,1102,1102,1102,1102,1102,1102,66.333938
3,blue,714387,1104,1104,1104,1104,1104,1104,1104,1104,...,1104,1104,1104,1104,1104,1104,1104,1104,1104,40.489130
4,blue,7d712c,1070,1070,1070,1070,1070,1070,1070,1070,...,1070,1070,1070,1070,1070,1070,1070,1070,1070,58.691589
5,blue,93da6c,1157,1157,1157,1157,1157,1157,1157,1157,...,1157,1157,1157,1157,1157,1157,1157,1157,1157,34.140017
6,green,16a2fe,1172,1172,1172,1172,1172,1172,1172,1172,...,1172,1172,1172,1172,1172,1172,1172,1172,1172,66.126280
7,green,53ee97,1220,1220,1220,1220,1220,1220,1220,1220,...,1220,1220,1220,1220,1220,1220,1220,1220,1220,57.213115
8,green,8ac38c,1290,1290,1290,1290,1290,1290,1290,1290,...,1290,1290,1290,1290,1290,1290,1290,1290,1290,70.542636
9,green,907d7a,1177,1177,1177,1177,1177,1177,1177,1177,...,1177,1177,1177,1177,1177,1177,1177,1177,1177,34.409516
10,orange,54f00e,1037,1037,1037,1037,1037,1037,1037,1037,...,1037,1037,1037,1037,1037,1037,1037,1037,1037,25.265188
11,orange,5ae925,1083,1083,1083,1083,1083,1083,1083,1083,...,1083,1083,1083,1083,1083,1083,1083,1083,1083,30.470914
12,orange,5f6b1,1059,1059,1059,1059,1059,1059,1059,1059,...,1059,1059,1059,1059,1059,1059,1059,1059,1059,28.234183
13,orange,6f8024,1020,1020,1020,1020,1020,1020,1020,1020,...,1020,1020,1020,1020,1020,1020,1020,1020,1020,26.372549
14,orange,82ec89,1042,1042,1042,1042,1042,1042,1042,1042,...,1042,1042,1042,1042,1042,1042,1042,1042,1042,25.527831
15,red,24b77f,1793,1793,1793,1793,1793,1793,1793,1793,...,1793,1793,1793,1793,1793,1793,1793,1793,1793,77.858338
16,red,2a740,1729,1729,1729,1729,1729,1729,1729,1729,...,1729,1729,1729,1729,1729,1729,1729,1729,1729,69.288606
17,red,4b67c7,1787,1787,1787,1787,1787,1787,1787,1787,...,1787,1787,1787,1787,1787,1787,1787,1787,1787,72.467823
18,red,52c990,1786,1786,1786,1786,1786,1786,1786,1786,...,1786,1786,1786,1786,1786,1786,1786,1786,1786,77.603583
19,red,7be120,1610,1610,1610,1610,1610,1610,1610,1610,...,1610,1610,1610,1610,1610,1610,1610,1610,1610,71.366460

In [57]:
selected_col = ['user_team', 'user_actioned', 'Solved to total percent']
employee_team_effeciency = df_employee_status[selected_col].copy()
employee_team_effeciency

   user_team user_actioned  Solved to total percent
0       blue        2c6d6d                31.950207
1       blue        6ac7a0                30.294906
2       blue        6eb310                66.333938
3       blue        714387                40.489130
4       blue        7d712c                58.691589
5       blue        93da6c                34.140017
6      green        16a2fe                66.126280
7      green        53ee97                57.213115
8      green        8ac38c                70.542636
9      green        907d7a                34.409516
10    orange        54f00e                25.265188
11    orange        5ae925                30.470914
12    orange         5f6b1                28.234183
13    orange        6f8024                26.372549
14    orange        82ec89                25.527831
15       red        24b77f                77.858338
16       red         2a740                69.288606
17       red        4b67c7                72.467823
18       red        52c990                77.603583
19       red        7be120                71.366460

In [60]:
employee_team_effeciency.groupby('user_team')['Solved to total percent'].mean().reset_index()

  user_team  Solved to total percent
0      blue                43.649965
1     green                57.072886
2    orange                27.174133
3       red                73.716962

In [68]:
df_customer_satisfaction = df.groupby(['ticket_type', 'customer_satisfaction']).count().reset_index()
df_customer_satisfaction

,ticket_type,customer_satisfaction,creation_date,view_date,action_date,customer_problem_resolved,user_actioned,user_team,month,day,...,time,hour,minute,second,Create Day,Close Day,creation_to_view_duration,view_to_action_duration,create_to_finish,creation_to_action_duration
0,email,1,4379,4379,4379,4379,4379,4379,4379,4379,...,4379,4379,4379,4379,4379,4379,4379,4379,4379,4379
1,email,2,1510,1510,1510,1510,1510,1510,1510,1510,...,1510,1510,1510,1510,1510,1510,1510,1510,1510,1510
2,email,3,1449,1449,1449,1449,1449,1449,1449,1449,...,1449,1449,1449,1449,1449,1449,1449,1449,1449,1449
3,email,4,997,997,997,997,997,997,997,997,...,997,997,997,997,997,997,997,997,997,997
4,email,5,2772,2772,2772,2772,2772,2772,2772,2772,...,2772,2772,2772,2772,2772,2772,2772,2772,2772,2772
5,live_chat,1,744,744,744,744,744,744,744,744,...,744,744,744,744,744,744,744,744,744,744
6,live_chat,2,324,324,324,324,324,324,324,324,...,324,324,324,324,324,324,324,324,324,324
7,live_chat,3,380,380,380,380,380,380,380,380,...,380,380,380,380,380,380,380,380,380,380
8,live_chat,4,361,361,361,361,361,361,361,361,...,361,361,361,361,361,361,361,361,361,361
9,live_chat,5,1447,1447,1447,1447,1447,1447,1447,1447,...,1447,1447,1447,1447,1447,1447,1447,1447,1447,1447
10,web_form,1,4291,4291,4291,4291,4291,4291,4291,4291,...,4291,4291,4291,4291,4291,4291,4291,4291,4291,4291
11,web_form,2,1498,1498,1498,1498,1498,1498,1498,1498,...,1498,1498,1498,1498,1498,1498,1498,1498,1498,1498
12,web_form,3,1531,1531,1531,1531,1531,1531,1531,1531,...,1531,1531,1531,1531,1531,1531,1531,1531,1531,1531
13,web_form,4,1050,1050,1050,1050,1050,1050,1050,1050,...,1050,1050,1050,1050,1050,1050,1050,1050,1050,1050
14,web_form,5,2829,2829,2829,2829,2829,2829,2829,2829,...,2829,2829,2829,2829,2829,2829,2829,2829,2829,2829

Teams perspective/performance

1. Bubble chart to show how each team and each user inside team performs - can use solve/total ratio -> refer assignment - might not be possible in this case as we don't have such data that adds up to whole.
2. Average response time 1. first reponse 2. start to finish -> each ticket type bar plot/ tree/ stacked bar plot
3. ticket type + team color -> customer rating (stacked bar plot in pbi) - sunburn