In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('tickets.csv')

In [3]:
df

,ticket_type,creation_date,view_date,action_date,customer_satisfaction,customer_problem_resolved,user_actioned,user_team
0,live_chat,2023-06-02 08:35:00.000000000,2023-06-02 08:35:00.000000000,2023-06-02 08:52:00.000000000,2,False,8ac38c,green
1,email,2023-06-02 08:14:00.000000000,2023-06-02 08:56:00.000000000,2023-06-02 09:25:00.000000000,3,True,8ac38c,green
2,email,2023-06-02 06:03:00.000000000,2023-06-02 09:29:00.000000000,2023-06-02 09:56:00.000000000,5,True,8ac38c,green
3,web_form,2023-06-02 06:42:00.000000000,2023-06-02 09:58:00.000000000,2023-06-02 10:20:00.000000000,2,False,8ac38c,green
4,email,2023-06-02 09:24:00.000000000,2023-06-02 10:24:00.000000000,2023-06-02 10:46:00.000000000,5,True,8ac38c,green
...,...,...,...,...,...,...,...,...
25557,web_form,2023-08-26 17:34:00.000000000,2023-08-30 13:40:00.850523820,2023-08-30 14:15:00.850523820,4,False,54f00e,orange
25558,live_chat,2023-08-30 14:22:00.850523820,2023-08-30 14:22:00.850523820,2023-08-30 14:47:00.850523820,1,False,54f00e,orange
25559,web_form,2023-08-29 03:27:00.000000000,2023-08-30 14:50:00.850523820,2023-08-30 15:34:00.850523820,1,False,54f00e,orange
25560,email,2023-08-28 15:44:00.000000000,2023-08-30 15:36:00.850523820,2023-08-30 16:11:00.850523820,3,True,54f00e,orange
25561,web_form,2023-08-27 16:59:00.000000000,2023-08-30 16:13:00.850523820,2023-08-30 16:53:00.850523820,1,True,54f00e,orange

In [5]:
df['user_team'].unique()

array(['green', 'red', 'blue', 'orange'], dtype=object)

In [ ]:
# tickets created - most time / day of the week

In [ ]:
# max ticket type

In [8]:
df['ticket_type'].value_counts()

web_form     11199
email        11107
live_chat     3256
Name: ticket_type, dtype: int64

Looking at it from the management team's POV - 
1. how many people need to be working at a particular time of the day - to organise shift hours
for example - more people need to be scheduled at 8am in the morning as the most number of tickets are created then 

2. how long does it take to resolve a ticket? - look at hours and then if the problem was resolveed

A line chart with first response time and resolution time

In [10]:
df['creation_date']

0        2023-06-02 08:35:00.000000000
1        2023-06-02 08:14:00.000000000
2        2023-06-02 06:03:00.000000000
3        2023-06-02 06:42:00.000000000
4        2023-06-02 09:24:00.000000000
                     ...
25557    2023-08-26 17:34:00.000000000
25558    2023-08-30 14:22:00.850523820
25559    2023-08-29 03:27:00.000000000
25560    2023-08-28 15:44:00.000000000
25561    2023-08-27 16:59:00.000000000
Name: creation_date, Length: 25562, dtype: object

In [12]:
import pandas as pd

# Assuming df is your DataFrame and 'creation_date' is the column you want to convert
df['creation_date'] = pd.to_datetime(df['creation_date'])

# Extracting components
df['month'] = df['creation_date'].dt.month
df['day'] = df['creation_date'].dt.day
df['year'] = df['creation_date'].dt.year
df['time'] = df['creation_date'].dt.time

# Optionally, you can also add hour, minute, and second columns if your 'creation_date' includes time
df['hour'] = df['creation_date'].dt.hour
df['minute'] = df['creation_date'].dt.minute
df['second'] = df['creation_date'].dt.second

# Display the modified DataFrame

In [15]:
df['hour'].value_counts()

11    2406
10    2318
9     2282
13    2180
12    2052
14    1934
15    1787
8     1717
16    1625
7     1133
17    1030
6      775
18     746
19     591
5      544
20     438
4      362
21     343
22     270
23     232
3      218
2      208
1      201
0      170
Name: hour, dtype: int64

In [33]:
df['Create Day'] = df['creation_date'].dt.day_name()
df['day_of_week'].value_counts()

Sunday       3744
Tuesday      3740
Friday       3697
Monday       3647
Saturday     3631
Wednesday    3587
Thursday     3516
Name: day_of_week, dtype: int64

In [19]:
df['ticket_type'].value_counts()

web_form     11199
email        11107
live_chat     3256
Name: ticket_type, dtype: int64

In [20]:
df['customer_satisfaction']

0        2
1        3
2        5
3        2
4        5
        ..
25557    4
25558    1
25559    1
25560    3
25561    1
Name: customer_satisfaction, Length: 25562, dtype: int64

In [23]:
df['ticket_type']

0        live_chat
1            email
2            email
3         web_form
4            email
           ...
25557     web_form
25558    live_chat
25559     web_form
25560        email
25561     web_form
Name: ticket_type, Length: 25562, dtype: object

In [24]:
df

,ticket_type,creation_date,view_date,action_date,customer_satisfaction,customer_problem_resolved,user_actioned,user_team,month,day,year,time,hour,minute,second,day_of_week
0,live_chat,2023-06-02 08:35:00.000000000,2023-06-02 08:35:00.000000000,2023-06-02 08:52:00.000000000,2,False,8ac38c,green,6,2,2023,08:35:00,8,35,0,Friday
1,email,2023-06-02 08:14:00.000000000,2023-06-02 08:56:00.000000000,2023-06-02 09:25:00.000000000,3,True,8ac38c,green,6,2,2023,08:14:00,8,14,0,Friday
2,email,2023-06-02 06:03:00.000000000,2023-06-02 09:29:00.000000000,2023-06-02 09:56:00.000000000,5,True,8ac38c,green,6,2,2023,06:03:00,6,3,0,Friday
3,web_form,2023-06-02 06:42:00.000000000,2023-06-02 09:58:00.000000000,2023-06-02 10:20:00.000000000,2,False,8ac38c,green,6,2,2023,06:42:00,6,42,0,Friday
4,email,2023-06-02 09:24:00.000000000,2023-06-02 10:24:00.000000000,2023-06-02 10:46:00.000000000,5,True,8ac38c,green,6,2,2023,09:24:00,9,24,0,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25557,web_form,2023-08-26 17:34:00.000000000,2023-08-30 13:40:00.850523820,2023-08-30 14:15:00.850523820,4,False,54f00e,orange,8,26,2023,17:34:00,17,34,0,Saturday
25558,live_chat,2023-08-30 14:22:00.850523820,2023-08-30 14:22:00.850523820,2023-08-30 14:47:00.850523820,1,False,54f00e,orange,8,30,2023,14:22:00.850523,14,22,0,Wednesday
25559,web_form,2023-08-29 03:27:00.000000000,2023-08-30 14:50:00.850523820,2023-08-30 15:34:00.850523820,1,False,54f00e,orange,8,29,2023,03:27:00,3,27,0,Tuesday
25560,email,2023-08-28 15:44:00.000000000,2023-08-30 15:36:00.850523820,2023-08-30 16:11:00.850523820,3,True,54f00e,orange,8,28,2023,15:44:00,15,44,0,Monday
25561,web_form,2023-08-27 16:59:00.000000000,2023-08-30 16:13:00.850523820,2023-08-30 16:53:00.850523820,1,True,54f00e,orange,8,27,2023,16:59:00,16,59,0,Sunday

In [27]:
avg_response_time= df[['ticket_type','hour']]

In [32]:
avg_response_time.groupby('ticket_type').mean('hour')

                  hour
ticket_type
email        11.839020
live_chat    12.113022
web_form     11.898830

In [36]:
df['action_date'] = pd.to_datetime(df['action_date'])

df['Close Day'] = df['action_date'].dt.day_name()

In [37]:
df

,ticket_type,creation_date,view_date,action_date,customer_satisfaction,customer_problem_resolved,user_actioned,user_team,month,day,year,time,hour,minute,second,day_of_week,Create Day,Close Day
0,live_chat,2023-06-02 08:35:00.000000000,2023-06-02 08:35:00.000000000,2023-06-02 08:52:00.000000000,2,False,8ac38c,green,6,2,2023,08:35:00,8,35,0,Friday,Friday,Friday
1,email,2023-06-02 08:14:00.000000000,2023-06-02 08:56:00.000000000,2023-06-02 09:25:00.000000000,3,True,8ac38c,green,6,2,2023,08:14:00,8,14,0,Friday,Friday,Friday
2,email,2023-06-02 06:03:00.000000000,2023-06-02 09:29:00.000000000,2023-06-02 09:56:00.000000000,5,True,8ac38c,green,6,2,2023,06:03:00,6,3,0,Friday,Friday,Friday
3,web_form,2023-06-02 06:42:00.000000000,2023-06-02 09:58:00.000000000,2023-06-02 10:20:00.000000000,2,False,8ac38c,green,6,2,2023,06:42:00,6,42,0,Friday,Friday,Friday
4,email,2023-06-02 09:24:00.000000000,2023-06-02 10:24:00.000000000,2023-06-02 10:46:00.000000000,5,True,8ac38c,green,6,2,2023,09:24:00,9,24,0,Friday,Friday,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25557,web_form,2023-08-26 17:34:00.000000000,2023-08-30 13:40:00.850523820,2023-08-30 14:15:00.850523820,4,False,54f00e,orange,8,26,2023,17:34:00,17,34,0,Saturday,Saturday,Wednesday
25558,live_chat,2023-08-30 14:22:00.850523820,2023-08-30 14:22:00.850523820,2023-08-30 14:47:00.850523820,1,False,54f00e,orange,8,30,2023,14:22:00.850523,14,22,0,Wednesday,Wednesday,Wednesday
25559,web_form,2023-08-29 03:27:00.000000000,2023-08-30 14:50:00.850523820,2023-08-30 15:34:00.850523820,1,False,54f00e,orange,8,29,2023,03:27:00,3,27,0,Tuesday,Tuesday,Wednesday
25560,email,2023-08-28 15:44:00.000000000,2023-08-30 15:36:00.850523820,2023-08-30 16:11:00.850523820,3,True,54f00e,orange,8,28,2023,15:44:00,15,44,0,Monday,Monday,Wednesday
25561,web_form,2023-08-27 16:59:00.000000000,2023-08-30 16:13:00.850523820,2023-08-30 16:53:00.850523820,1,True,54f00e,orange,8,27,2023,16:59:00,16,59,0,Sunday,Sunday,Wednesday

In [38]:
df['Create Day'].value_counts()

Sunday       3744
Tuesday      3740
Friday       3697
Monday       3647
Saturday     3631
Wednesday    3587
Thursday     3516
Name: Create Day, dtype: int64

In [39]:
df['Close Day'].value_counts()

Tuesday      3728
Wednesday    3703
Monday       3696
Sunday       3693
Saturday     3675
Friday       3664
Thursday     3403
Name: Close Day, dtype: int64

In [54]:
import pandas as pd

# Assuming df is your DataFrame and the columns are 'creation_date', 'view_date', and 'action_date'
df['creation_date'] = pd.to_datetime(df['creation_date'])
df['view_date'] = pd.to_datetime(df['view_date'])
df['action_date'] = pd.to_datetime(df['action_date'])

# Calculate time differences
df['creation_to_view_duration'] = df['view_date'] - df['creation_date']
df['view_to_action_duration'] = df['action_date'] - df['view_date']
df['create_to_finish'] = df['action_date'] - df['creation_date']

# Display the modified DataFrame
print(df)

      ticket_type                 creation_date                     view_date  \
0       live_chat 2023-06-02 08:35:00.000000000 2023-06-02 08:35:00.000000000
1           email 2023-06-02 08:14:00.000000000 2023-06-02 08:56:00.000000000
2           email 2023-06-02 06:03:00.000000000 2023-06-02 09:29:00.000000000
3        web_form 2023-06-02 06:42:00.000000000 2023-06-02 09:58:00.000000000
4           email 2023-06-02 09:24:00.000000000 2023-06-02 10:24:00.000000000
...           ...                           ...                           ...
25557    web_form 2023-08-26 17:34:00.000000000 2023-08-30 13:40:00.850523820
25558   live_chat 2023-08-30 14:22:00.850523820 2023-08-30 14:22:00.850523820
25559    web_form 2023-08-29 03:27:00.000000000 2023-08-30 14:50:00.850523820
25560       email 2023-08-28 15:44:00.000000000 2023-08-30 15:36:00.850523820
25561    web_form 2023-08-27 16:59:00.000000000 2023-08-30 16:13:00.850523820

                        action_date  customer_satisfaction  \
0     2023-06-02 08:52:00.000000000                      2
1     2023-06-02 09:25:00.000000000                      3
2     2023-06-02 09:56:00.000000000                      5
3     2023-06-02 10:20:00.000000000                      2
4     2023-06-02 10:46:00.000000000                      5
...                             ...                    ...
25557 2023-08-30 14:15:00.850523820                      4
25558 2023-08-30 14:47:00.850523820                      1
25559 2023-08-30 15:34:00.850523820                      1
25560 2023-08-30 16:11:00.850523820                      3
25561 2023-08-30 16:53:00.850523820                      1

       customer_problem_resolved user_actioned user_team  month  day  ...  \
0                          False        8ac38c     green      6    2  ...
1                           True        8ac38c     green      6    2  ...
2                           True        8ac38c     green      6    2  ...
3                          False        8ac38c     green      6    2  ...
4                           True        8ac38c     green      6    2  ...
...                          ...           ...       ...    ...  ...  ...
25557                      False        54f00e    orange      8   26  ...
25558                      False        54f00e    orange      8   30  ...
25559                      False        54f00e    orange      8   29  ...
25560                       True        54f00e    orange      8   28  ...
25561                       True        54f00e    orange      8   27  ...

                  time hour  minute  second  day_of_week Create Day  \
0             08:35:00    8      35       0       Friday     Friday
1             08:14:00    8      14       0       Friday     Friday
2             06:03:00    6       3       0       Friday     Friday
3             06:42:00    6      42       0       Friday     Friday
4             09:24:00    9      24       0       Friday     Friday
...                ...  ...     ...     ...          ...        ...
25557         17:34:00   17      34       0     Saturday   Saturday
25558  14:22:00.850523   14      22       0    Wednesday  Wednesday
25559         03:27:00    3      27       0      Tuesday    Tuesday
25560         15:44:00   15      44       0       Monday     Monday
25561         16:59:00   16      59       0       Sunday     Sunday

       Close Day creation_to_view_duration view_to_action_duration  \
0         Friday           0 days 00:00:00         0 days 00:17:00
1         Friday           0 days 00:42:00         0 days 00:29:00
2         Friday           0 days 03:26:00         0 days 00:27:00
3         Friday           0 days 03:16:00         0 days 00:22:00
4         Friday           0 days 01:00:00         0 days 00:22:00
...          ...                       ...                     ...
25557  Wednesday 3 days 20:06:00.850523820         0 days 00:35:00
25558  Wednesday           0 days 00:00:00         0 days 00:25:00
25559  Wednesday 1 days 11:23:00.850523820         0 days 00:44:00
25560  Wednesday 1 days 23:52:00.850523820         0 days 00:35:00
25561  Wednesday 2 days 23:14:00.850523820         0 days 00:40:00

               create_to_finish
0               0 days 00:17:00
1               0 days 01:11:00
2               0 days 03:53:00
3               0 days 03:38:00
4               0 days 01:22:00
...                         ...
25557 3 days 20:41:00.850523820
25558           0 days 00:25:00
25559 1 days 12:07:00.850523820
25560 2 days 00:27:00.850523820
25561 2 days 23:54:00.850523820

[25562 rows x 21 columns]

In [49]:
df1 = df[df['customer_problem_resolved']==True]
df1[['creation_to_view_duration','view_to_action_duration','customer_satisfaction','customer_problem_resolved']]

,creation_to_view_duration,view_to_action_duration,customer_satisfaction,customer_problem_resolved
1,0 days 00:42:00,0 days 00:29:00,3,True
2,0 days 03:26:00,0 days 00:27:00,5,True
4,0 days 01:00:00,0 days 00:22:00,5,True
6,0 days 00:35:00,0 days 00:26:00,5,True
8,0 days 01:40:47.130122249,0 days 00:31:00,5,True
...,...,...,...,...
25537,1 days 04:24:11.937352888,0 days 00:38:00,3,True
25538,0 days 00:00:00,0 days 00:22:00,1,True
25550,2 days 07:36:18.152970180,0 days 00:39:00,1,True
25560,1 days 23:52:00.850523820,0 days 00:35:00,3,True
25561,2 days 23:14:00.850523820,0 days 00:40:00,1,True

In [51]:
df

,ticket_type,creation_date,view_date,action_date,customer_satisfaction,customer_problem_resolved,user_actioned,user_team,month,day,year,time,hour,minute,second,day_of_week,Create Day,Close Day,creation_to_view_duration,view_to_action_duration
0,live_chat,2023-06-02 08:35:00.000000000,2023-06-02 08:35:00.000000000,2023-06-02 08:52:00.000000000,2,False,8ac38c,green,6,2,2023,08:35:00,8,35,0,Friday,Friday,Friday,0 days 00:00:00,0 days 00:17:00
1,email,2023-06-02 08:14:00.000000000,2023-06-02 08:56:00.000000000,2023-06-02 09:25:00.000000000,3,True,8ac38c,green,6,2,2023,08:14:00,8,14,0,Friday,Friday,Friday,0 days 00:42:00,0 days 00:29:00
2,email,2023-06-02 06:03:00.000000000,2023-06-02 09:29:00.000000000,2023-06-02 09:56:00.000000000,5,True,8ac38c,green,6,2,2023,06:03:00,6,3,0,Friday,Friday,Friday,0 days 03:26:00,0 days 00:27:00
3,web_form,2023-06-02 06:42:00.000000000,2023-06-02 09:58:00.000000000,2023-06-02 10:20:00.000000000,2,False,8ac38c,green,6,2,2023,06:42:00,6,42,0,Friday,Friday,Friday,0 days 03:16:00,0 days 00:22:00
4,email,2023-06-02 09:24:00.000000000,2023-06-02 10:24:00.000000000,2023-06-02 10:46:00.000000000,5,True,8ac38c,green,6,2,2023,09:24:00,9,24,0,Friday,Friday,Friday,0 days 01:00:00,0 days 00:22:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25557,web_form,2023-08-26 17:34:00.000000000,2023-08-30 13:40:00.850523820,2023-08-30 14:15:00.850523820,4,False,54f00e,orange,8,26,2023,17:34:00,17,34,0,Saturday,Saturday,Wednesday,3 days 20:06:00.850523820,0 days 00:35:00
25558,live_chat,2023-08-30 14:22:00.850523820,2023-08-30 14:22:00.850523820,2023-08-30 14:47:00.850523820,1,False,54f00e,orange,8,30,2023,14:22:00.850523,14,22,0,Wednesday,Wednesday,Wednesday,0 days 00:00:00,0 days 00:25:00
25559,web_form,2023-08-29 03:27:00.000000000,2023-08-30 14:50:00.850523820,2023-08-30 15:34:00.850523820,1,False,54f00e,orange,8,29,2023,03:27:00,3,27,0,Tuesday,Tuesday,Wednesday,1 days 11:23:00.850523820,0 days 00:44:00
25560,email,2023-08-28 15:44:00.000000000,2023-08-30 15:36:00.850523820,2023-08-30 16:11:00.850523820,3,True,54f00e,orange,8,28,2023,15:44:00,15,44,0,Monday,Monday,Wednesday,1 days 23:52:00.850523820,0 days 00:35:00
25561,web_form,2023-08-27 16:59:00.000000000,2023-08-30 16:13:00.850523820,2023-08-30 16:53:00.850523820,1,True,54f00e,orange,8,27,2023,16:59:00,16,59,0,Sunday,Sunday,Wednesday,2 days 23:14:00.850523820,0 days 00:40:00

In [60]:

df['creation_to_action_duration'] = (df['action_date'] - df['creation_date']).dt.total_seconds() / 3600

df[['ticket_type',"create_to_finish",'creation_date','action_date','creation_to_action_duration']]

,ticket_type,create_to_finish,creation_date,action_date,creation_to_action_duration
0,live_chat,0 days 00:17:00,2023-06-02 08:35:00.000000000,2023-06-02 08:52:00.000000000,0.283333
1,email,0 days 01:11:00,2023-06-02 08:14:00.000000000,2023-06-02 09:25:00.000000000,1.183333
2,email,0 days 03:53:00,2023-06-02 06:03:00.000000000,2023-06-02 09:56:00.000000000,3.883333
3,web_form,0 days 03:38:00,2023-06-02 06:42:00.000000000,2023-06-02 10:20:00.000000000,3.633333
4,email,0 days 01:22:00,2023-06-02 09:24:00.000000000,2023-06-02 10:46:00.000000000,1.366667
...,...,...,...,...,...
25557,web_form,3 days 20:41:00.850523820,2023-08-26 17:34:00.000000000,2023-08-30 14:15:00.850523820,92.683570
25558,live_chat,0 days 00:25:00,2023-08-30 14:22:00.850523820,2023-08-30 14:47:00.850523820,0.416667
25559,web_form,1 days 12:07:00.850523820,2023-08-29 03:27:00.000000000,2023-08-30 15:34:00.850523820,36.116903
25560,email,2 days 00:27:00.850523820,2023-08-28 15:44:00.000000000,2023-08-30 16:11:00.850523820,48.450236
25561,web_form,2 days 23:54:00.850523820,2023-08-27 16:59:00.000000000,2023-08-30 16:53:00.850523820,71.900236

In [62]:
df[['ticket_type','creation_to_action_duration']].groupby('ticket_type').mean('creation_to_action_duration')

             creation_to_action_duration
ticket_type
email                          34.428499
live_chat                       0.261824
web_form                       34.045832

In [66]:
df_web = df[df['ticket_type']=='web_form']
df_web['creation_to_action_duration'].mean()

34.0458316502431

In [65]:
df_live = df[df['ticket_type']=='live_chat']
df_live['creation_to_action_duration'].mean()

0.26182432432432434

In [68]:
df_live = df[df['ticket_type']=='live_chat']
df_live['customer_satisfaction'].mean()

3.4431818181818183

In [69]:
df[['ticket_type','customer_satisfaction']].groupby('ticket_type').mean('customer_satisfaction')

             customer_satisfaction
ticket_type
email                     2.664446
live_chat                 3.443182
web_form                  2.698902

Calculating first reponse time

In [73]:
df['customer_satisfaction'].mean()

2.7787340583678897

In [72]:
df[['user_team','customer_satisfaction']].groupby('user_team').mean('customer_satisfaction')

           customer_satisfaction
user_team
blue                    2.263579
green                   2.978596
orange                  1.525281
red                     3.821712

In [77]:
live=df[df['ticket_type']=='live_chat']

In [78]:
live

,ticket_type,creation_date,view_date,action_date,customer_satisfaction,customer_problem_resolved,user_actioned,user_team,month,day,...,hour,minute,second,day_of_week,Create Day,Close Day,creation_to_view_duration,view_to_action_duration,create_to_finish,creation_to_action_duration
0,live_chat,2023-06-02 08:35:00.000000000,2023-06-02 08:35:00.000000000,2023-06-02 08:52:00.000000000,2,False,8ac38c,green,6,2,...,8,35,0,Friday,Friday,Friday,0.0,0 days 00:17:00,0 days 00:17:00,0.283333
11,live_chat,2023-06-02 14:52:47.130122249,2023-06-02 14:58:47.130122249,2023-06-02 15:18:47.130122249,5,True,8ac38c,green,6,2,...,14,52,47,Friday,Friday,Friday,0.1,0 days 00:20:00,0 days 00:26:00,0.433333
35,live_chat,2023-06-04 11:48:00.000000000,2023-06-04 11:48:00.000000000,2023-06-04 11:59:00.000000000,5,False,8ac38c,green,6,4,...,11,48,0,Sunday,Sunday,Sunday,0.0,0 days 00:11:00,0 days 00:11:00,0.183333
41,live_chat,2023-06-04 15:44:17.091326957,2023-06-04 15:44:17.091326957,2023-06-04 15:54:17.091326957,5,True,8ac38c,green,6,4,...,15,44,17,Sunday,Sunday,Sunday,0.0,0 days 00:10:00,0 days 00:10:00,0.166667
43,live_chat,2023-06-04 16:35:17.091326957,2023-06-04 16:35:17.091326957,2023-06-04 16:55:17.091326957,5,True,8ac38c,green,6,4,...,16,35,17,Sunday,Sunday,Sunday,0.0,0 days 00:20:00,0 days 00:20:00,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25510,live_chat,2023-08-26 10:31:00.000000000,2023-08-26 10:31:00.000000000,2023-08-26 10:56:00.000000000,3,True,54f00e,orange,8,26,...,10,31,0,Saturday,Saturday,Saturday,0.0,0 days 00:25:00,0 days 00:25:00,0.416667
25538,live_chat,2023-08-28 16:19:11.937352888,2023-08-28 16:19:11.937352888,2023-08-28 16:41:11.937352888,1,True,54f00e,orange,8,28,...,16,19,11,Monday,Monday,Monday,0.0,0 days 00:22:00,0 days 00:22:00,0.366667
25544,live_chat,2023-08-29 11:35:00.000000000,2023-08-29 11:35:00.000000000,2023-08-29 11:55:00.000000000,1,False,54f00e,orange,8,29,...,11,35,0,Tuesday,Tuesday,Tuesday,0.0,0 days 00:20:00,0 days 00:20:00,0.333333
25549,live_chat,2023-08-29 15:24:18.152970180,2023-08-29 15:24:18.152970180,2023-08-29 16:05:18.152970180,2,False,54f00e,orange,8,29,...,15,24,18,Tuesday,Tuesday,Tuesday,0.0,0 days 00:41:00,0 days 00:41:00,0.683333
25558,live_chat,2023-08-30 14:22:00.850523820,2023-08-30 14:22:00.850523820,2023-08-30 14:47:00.850523820,1,False,54f00e,orange,8,30,...,14,22,0,Wednesday,Wednesday,Wednesday,0.0,0 days 00:25:00,0 days 00:25:00,0.416667

Teams perspective/performance

1. Bubble chart to show how each team and each user inside team performs - can use solve/total ratio -> refer assignment
2. Average response time 1. first reponse 2. start to finish -> each ticket type bar plot/ tree/ stacked bar plot
3. ticket type + team color -> customer rating (stacked bar plot in pbi) - sunburn